/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
}

header {
    text-align: center;
    padding: 50px 0;
    background-color: #333;
    color: #fff;
}

header h1 {
    font-size: 36px;
}

header p {
    font-size: 18px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background-color: #444;
    padding: 10px 0;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pfp {
    height: 320px;
    width: 240px;
}

.project {
    margin-bottom: 20px;
}

/* #horiseon-img {
    max-width: 100%;
    max-height: 10%;
} */

.project h3 {
    margin-top: 10px;
    font-size: 24px;
}

.project p {
    font-size: 16px;
    margin-top: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

/* Default styles for all screen sizes */

/* For screens smaller than 576px (e.g., smartphones) */
@media (max-width: 575.98px) {
    /* Add your CSS rules for small screens here */
  }
  
  /* For screens between 576px and 767.98px (e.g., larger smartphones and small tablets) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Add your CSS rules for medium screens here */
  }
  
  /* For screens between 768px and 991.98px (e.g., tablets) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Add your CSS rules for large screens here */
  }
  
  /* For screens between 992px and 1199.98px (e.g., larger tablets and small laptops) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Add your CSS rules for extra-large screens here */
  }
  
  /* For screens larger than 1200px (e.g., desktops) */
  @media (min-width: 1200px) {
    /* Add your CSS rules for extra-large screens here */
  }